@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #00ff00;
  --color-secondary: #101828;
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}
